{%- import '_globals.njk' as globals -%}

{% set metaTitle = "File" %}

{% set uploadRoot = config.domain %}
{% set titleFormat = '%identifier% | ' + globals.name %}

{% extends "_layout.njk" %}

{% block stylesheets %}
<!-- Libs stylesheets -->
<link rel="stylesheet" href="../libs/fontello/fontello.css{{ versions[1] }}">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/style.css{{ versions[1] }}">
<link rel="stylesheet" href="../css/sweetalert.css{{ versions[1] }}">
{% endblock %}

{% block scripts %}
<!-- Libs scripts -->
<script src="../libs/sweetalert/sweetalert.min.js{{ versions[3] }}"></script>
<script src="../libs/axios/axios.min.js{{ versions[3] }}"></script>
<script src="../libs/clipboard.js/clipboard.min.js{{ versions[3] }}"></script>
<!-- Scripts -->
<script id="mainScript" src="../js/file.js{{ versions[1] }}" data-upload-root="{{ uploadRoot }}" data-title-format="
{{ titleFormat }}"></script>
<script src="../js/misc/utils.js{{ versions[1] }}"></script>
{% endblock %}

{% set noscriptRefreshUrl = null %}
{% block endmeta %}
{% include "_partial/noscript-refresh.njk" %}
{% endblock %}

{% block content %}
{{ super() }}
<section class="section has-extra-bottom-padding">
  <div class="container" style="max-width: 640px">
    <h1 id="title" class="title">
      {{ metaTitle }}
    </h1>
    <hr class="divider">

    <article id="message" class="message">
      <div class="message-body">
        <p>Loading&#x2026;</p>
      </div>
    </article>

    <div id="fileinfo" class="is-hidden">
      <div class="field is-hidden has-text-centered">
        <img class="is-unselectable" style="max-width: 100%; border-radius: 8px">
      </div>
      <div class="surface" style="padding: 1rem; margin-bottom: 1rem">
        <div class="table-container"></div>
      </div>
      <div class="columns is-mobile" style="margin-top: 0.5rem">
        <div class="column">
          <a id="clipboardBtn" class="button is-primary is-fullwidth clipboard-js">
            <span class="icon">
              <i class="icon-clipboard"></i>
            </span>
            <span>Copy link</span>
          </a>
        </div>
        <div class="column is-hidden">
          <a id="playerBtn" class="button is-info is-fullwidth" target="_blank">
            <span class="icon">
              <i class="icon-video"></i>
            </span>
            <span>Play</span>
          </a>
        </div>
        <div class="column">
          <a id="downloadBtn" class="button is-fullwidth" style="background-color: $bg-surface-hover; border-color: $border-subtle">
            <span class="icon">
              <i class="icon-download"></i>
            </span>
            <span>Download</span>
          </a>
        </div>
      </div>
      <div style="margin-top: 0.5rem">
        <a id="deleteBtn" class="button is-danger is-outlined is-fullwidth">
          <span class="icon">
            <i class="icon-trash"></i>
          </span>
          <span>Delete</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% set floatingHomeHref = '..' %}
{% include "_partial/floating-home.njk" %}
{% set noscriptMessage = null %}
{% include "_partial/noscript.njk" %}
{% endblock %}
